.sessions-list {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.all-sessions h2 {
  font-family: 'Caveat Brush', cursive;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-top: 60px;
}
.session-card h3 {
  font-weight: lighter;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}
.session-card span {
  cursor: pointer;
  padding: 10px;
}
.session-card a {
  text-decoration: none;
  color: green;
  transition: transform 0.3s ease;
  display: inline-block;
}
.session-card a:hover {
  transform: scale(1.1);
  font-weight: bold;
}
.all-sessions {
  flex: 1;
  background: url('../assets/bg.png') center/cover;
  filter: brightness(0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-bar select {
  background: #f1dfb6ac;
  padding: 8px;
  border-radius: 10px;
  border: none;
  color: black;
}
.filter-bar label {
  color: rgb(12, 12, 12);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}
.session-details p {
  color: rgb(18, 16, 16);
}
.filter-bar {
  margin-bottom: 60px;
}
.session-card {
  border-radius: 50px;
  background: rgba(245, 245, 245, 0.928);
  margin: 20px 0;
}
