.sessions-list {
  min-height: 60vh;
}
.all-sessions h2 {
  font-family: 'Caveat Brush', cursive;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.session-card h3 {
  font-weight: lighter;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}
.session-card span {
  cursor: pointer;
  padding: 10px;
}
.session-card a {
  text-decoration: none;
  color: green;
  transition: transform 0.3s ease;
  display: inline-block;
}
.session-card a:hover {
  transform: scale(1.1);
  font-weight: bold;
}
.all-sessions {
  height: 60vh;
  background: url('https://res.cloudinary.com/duiastu2q/image/upload/v1771427950/43905263-spirituality-8769161_640_no2msv.jpg')
    center/cover;
  filter: brightness(0.8);
}
.filter-bar select {
  background: #f1dfb6;
  border: none;
  color: black;
}
.filter-bar label {
  color: rgb(12, 12, 12);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}
.session-details p {
  color: rgb(18, 16, 16);
}
