.header video {
  width: 100%;
}

.home-content {
  background: black;
  position: relative;
  height: 40vh;
}
h1 {
  background: black;
  margin-top: -35px;
  color: whitesmoke;
  font-family: 'Finger Paint', sans-serif;
}
.home-content h2 {
  color: whitesmoke;
  font-weight: lighter;
}
.anim-word {
  background: whitesmoke;
}
.word {
  position: absolute;
  font-weight: bold;
  opacity: 0;
  animation: fadeFloat 10s ease forwards;
}
@keyframes fadeFloat {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.w1 {
  top: 10%;
  left: 10%;
  animation-delay: 0.2s;
  color: #c2e7d9;
}
.w2 {
  top: 15%;
  right: 15%;
  animation-delay: 0.4s;
  color: #f1dfb6;
}
.w3 {
  top: 20%;
  left: 30%;
  animation-delay: 0.6s;
  color: #91c3af;
}
.w4 {
  top: 25%;
  right: 10%;
  animation-delay: 0.8s;
  color: #aec6dc;
}
.w5 {
  top: 30%;
  left: 20%;
  animation-delay: 0.9s;
  color: whitesmoke;
}
.anim-home {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
}
