.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lottie-container {
  width: 400px;
  height: 400px;
}
.error-page button {
  padding: 10px;
  font-size: 1.1rem;
  font-family: 'Caveat Brush';
  letter-spacing: 2px;
  border: 1px solid #dace42;
}
