.main-content {
  background: url('https://res.cloudinary.com/duiastu2q/image/upload/v1771511624/program-bg_mbfe2o.jpg')
    center/cover;
  filter: brightness(0.8);
  color: black;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content h2 {
  font-family: 'Caveat Brush', cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #f1dfb6;
}
.program {
  border-top: 1px black solid;
  border-radius: 0 50px 50px 0;
  padding-top: 8px;
}
.program span {
  cursor: pointer;
}
.program h3 {
  letter-spacing: 1px;
}

.program h3:hover {
  color: #aec6dc;
  cursor: pointer;
}
.program p:nth-child(3) {
  color: #f6f4f2;
}

.program:nth-child(4) {
  color: #f6f4f2;
}
.program:last-child {
  color: #e97463;
}
