.page-content {
  height: 80vh;
  background: rgb(112, 131, 160);
  background: linear-gradient(
    344deg,
    rgb(112, 131, 160) 32%,
    rgba(3, 5, 38, 1) 76%
  );
  padding: 10px;
}
.page-content textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: rgb(112, 131, 160);
  font-size: 16px;
  resize: vertical;
  cursor: pointer;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}
.page-content textarea:focus {
  border: 2px solid #04275c;
  outline: none;
  box-shadow: 0 0 2px rgba(35, 2, 112, 0.5);
  color: rgba(2, 6, 65, 0.5);
}
