.page-content {
  background: #33375260;
  color: whitesmoke;
  padding: 10px;
  flex: 1;
}
.page-content textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: rgb(112, 131, 160);
  font-size: 16px;
  resize: vertical;
  cursor: pointer;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}
.page-content textarea:focus {
  border: 2px solid #04275c;
  outline: none;
  box-shadow: 0 0 2px rgba(35, 2, 112, 0.5);
  color: rgba(2, 6, 65, 0.5);
}
.player-bg {
  border: 1px solid whitesmoke;
}
.monkey {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
}
