.programs-session-content {
  display: flex;
  flex: 1;
}
.session-content p {
  cursor: pointer;
  border-radius: 20px;
  padding: 50px 20px;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  width: 100px;
}
.para-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.session-content {
  background: url('../assets/bg.png') center/cover;
  filter: brightness(0.8);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.session-content p:first-child {
  /* background: url('../assets/bgSession1.jpg') center top; */
  background: #c2e7d9;

  border-radius: 550px;
}
.session-content p:nth-child(2) {
  /* background: url('../assets/bgSession2.jpg') center; */
  background: #f1dfb6;
}
.session-content p:nth-child(3) {
  /* background: url('../assets/bgSession3.jpg') center; */
  background: #aec6dc;
  background: linear-gradient(
    2deg,
    rgba(174, 198, 220, 0.7) 15%,
    rgba(174, 198, 220, 0.8) 100%
  );
}
.session-content p:nth-child(4) {
  /* background: url('../assets/bgSession4.jpg') center; */
  background: #91c3af;
  background: linear-gradient(
    2deg,
    rgba(145, 195, 175, 0.75) 15%,
    rgba(145, 195, 175, 0.8) 100%
  );
}
.session-content p:last-child {
  /* background: url('../assets/bgSession5.jpg') center/cover; */
  border-radius: 850px;
  background: #060807;
  background: linear-gradient(
    2deg,
    rgba(6, 8, 7, 0.75) 15%,
    rgba(7, 10, 10, 0.8) 100%
  );
  color: whitesmoke;
}
.session-content h2 {
  color: #f1dfb6;
  text-transform: uppercase;
  font-family: 'Caveat Brush', cursive;
}
