.navbar {
  height: 50px;
  width: 100%;
  color: whitesmoke;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.navbar img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-right: 20px;
}
.navbar ul {
  display: flex;
  gap: 40px;
}
.navbar li {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
.navbar p {
  cursor: pointer;
}
.navbar a {
  text-decoration: none;
  color: whitesmoke;
}
