.search-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.search-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;
  background: rgb(56, 51, 51);
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  overflow-x: hidden;
}

.search-result {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.search-result:hover {
  color: #f1dfb6;
}
.search-container input {
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}
