.search-container {
  position: relative;
}

.search-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background: rgb(56, 51, 51);
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.search-result {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.search-result:hover {
  background-color: #f0f0f0;
}
.search-container input {
  width: 80px;
  cursor: pointer;
}
