.reflection-content button {
  margin-right: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #141939;
}
.reflection-content button:hover {
  background: rgba(2, 6, 65, 0.5);
}
.reflection-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}
