.reflection-content button {
  margin-right: 10px;
  margin-top: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #c2e7d9;
  color: black;
}
.reflection-content button:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
  background: #91c3af;
  color: whitesmoke;
}
.reflection-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}
.reflection-content p {
  color: black;
}
.reflection-content h3 {
  color: #f1dfb6;
}
