.session-infos p {
  display: flex;
  align-items: start;
  text-align: left;
}
.session-infos h2 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Caveat Brush', cursive;
  letter-spacing: 2px;
}
.duration-style {
  font-size: 1.3rem;
  line-height: 20px;
  color: rgb(155, 148, 170);
  text-shadow: 5px -8px 2px rgb(14, 5, 14);
  margin-top: 20px;
}
