.session-infos p {
  display: flex;
  align-items: start;
  text-align: left;
}
.session-infos h2 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Caveat Brush', cursive;
  letter-spacing: 2px;
  color: #f1dfb6;
}
.duration-style {
  font-size: 1.2rem;
  line-height: 20px;
  color: #aec6dc;
  /* text-shadow: 1px 2px 1px #295041; */
  /* font-weight: bold; */
  margin-top: 20px;
}
