.player-bg {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.player-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.player-bg audio {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 80%;
  height: 20%;
}
