@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

li {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Ysabeau Office', sans-serif;
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  max-width: 390px;
  overflow-x: hidden;
  margin: 0 auto;
}
@media (min-width: 900px) {
  body {
    background: #f3f4f6;
  }

  #root {
    display: flex;
    justify-content: center;
  }

  .app {
    width: 390px;
    min-height: 100vh;
    background: white;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    overflow: hidden;
  }
}
