@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  /* min-height: 60vh; */
}
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Ysabeau Office', sans-serif;
}

li {
  text-decoration: none;
  color: inherit;
  list-style: none;
}
.app {
  height: 60vh;
}
